@import "compass";
@import "compass/reset";

* {
    @include box-sizing(border-box)
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

p {
    line-height: 1.2em;
}

b {
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

input[type=number] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
 }

h1 {
    font-size: 2.2em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.8em;
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.6em;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

h5 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: 0.1em;
}

.container-fluid {
    padding-left: 1em;
    padding-right: 1em;
}

#bread {
    background-image: url("http://image.noelshack.com/fichiers/2015/10/1425572018-optimized-couch-flat-home-2459-compressor.jpg");
    background-size: cover;
    background-position: center center;
}

#home {

    @media (min-width: 0px) {
        padding-top: 60px;
    }

    @media (min-width: 992px) {
//        min-height: 100vh;
//        height: 100%;
        padding-top: 30px;
    }


    h2 {
        margin-bottom: 1em;
    }

    input[type=button], input[type=submit] {
        margin: 1em 0.5em;
        padding: 1em 2em;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #2C3E50;
        border-radius: 5px;
        font-size: 1em;
        color: #000;
        text-transform: uppercase;
        @include transition(all 0.15s linear);

        &:hover {
            cursor: pointer;
            background-color: rgba(44, 62, 80, 0.2);
        }
    }

    input[type=text], input[type=password] {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid #2C3E50;
        margin-bottom: 0.5em;
        width: 100%;
    }
}

input[type=text], input[type=password],input[type=number] {
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 1em;
//    border-top: none;
//    border-left: none;
//    border-right: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    &:focus {
        outline: 0;
    }
}

.navigation {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    hr {
        margin: 0;
        background-color: #20E5BE;
    }
    li {

        a {
            color: #000;
            &.active {
                background-color: #CAD4DE;
            }

            &:hover {
                background-color: #E0E6EC;
            }

            &:active {
                background-color: #8A98A6;
                color: #000;
            }
            display: block;
            padding: 12px 20px;
            text-decoration: none;
        }
    }
}

.error {
    border-color: red;
}

#main, #sidebar {

    float: none;
    vertical-align: top;
}

#sidebar {
    display: none;
    @media (min-width: 768px) {
        background-color: #FFFFFF;
        position: fixed;
        width: 200px;
        height: 100%;
        left: 0;
        display: table-cell;
    }
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));
}

#main {
    background-color: #FFFFFF;
    padding: 1em;
    height: 100%;
    display: table;
    width: 100%;

    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }

    input[type=button], input[type=submit] {
        outline: none;
        font-weight: 500;
        margin: 1em 1em;
        padding: 0.7em 2.5em;
        background-color: rgb(63,81,181);
        color: #ffffff;
        border: 1px solid #2C3E50;
        font-size: 1em;
        text-transform: uppercase;
        @include transition(all 0.15s linear);
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));

        &:hover {
            @include box-shadow(0px 8px 17px rgba(0, 0, 0, 0.2));
        }
    }
}

a {

    text-decoration: none;
    color: #34AADC;
    &:hover {
        color: #007AFF;
    }
}

table {
    thead {
        tr {
            th {
                &:first-child {
                    padding-left: 0.5rem;
                }
                font-weight: 300;
                padding: 1.2rem 0.2rem 0.5em 0.2em;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: rgba(0,0,0,0.035);
                }
            }

            td {
                &:first-child {
                    padding-left: 0.5rem;
                }
                &:last-child {
                    padding-right: 0.5rem;
                }
                @include transition(all 0.1s ease-in);
                padding: 1.0rem 0.2rem;
                font-weight: 300;
                border: none;
            }
        }
    }
}

.card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 1em;
    display: inline-block;
    background-color: #fff;
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.fa-star {
    color: #FF9800;
}

.comment {
    .name {
        font-weight: bold;
        color: #03A9F4;
    }

    .date {
        color: #9E9E9E;
    }

    padding-bottom: 1.5em;
}

.myComment {
    input {
        margin-bottom: 0.5em;
    }

    select {
        padding: 0.5em;
        margin-bottom: 0.5em;
    }

    textarea {
        padding: 0.5em;

        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }
}

input[type=button], input[type=submit] {
    outline: none;
    font-weight: 500;
    padding: 0.7em 2.5em;
    color: #ffffff;;
    background-color: #3F51B5;
    border: 0px solid #2C3E50;
    font-size: 1em;
    text-transform: uppercase;
    @include transition(all 0.15s linear);
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));

    &:active {
        background-color: #303F9F;

    }

    &:hover {
        @include box-shadow(0px 8px 17px rgba(0, 0, 0, 0.2));
    }

    &:disabled {
        background-color: #9E9E9E;
    }
}

#bread {
    background-color: #00065c;
    h2 {
        padding-top: 150px;
        font-size: 5em;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
    }
}

.categories, .items {

    height: 300px;
    @include background-size(cover);


    .layer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);

        @include transition(all 0.3s linear);

        &:hover {
            background-color: rgba(0, 00, 0, 0.5);
        }
    }

    .see {
        @include transition(all 0.3s linear);
    }

    &:hover {
        .see {
            opacity: 1;
        }
    }
}

.categories {

    .name {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        font-size: 2em;
    }
    .see {
        opacity: 0;
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        font-size: 1.5em;
    }
}

.items {

    .title {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        font-size: 2em;
    }
    .price {
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        font-size: 2em;
    }
    .see {
        opacity: 0;
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        font-size: 1.5em;
    }
}

#search {

    select {
        padding: 0.5em 0.5em 0.4em 0.5em;
        background-color: #fff;
        margin-bottom: 0.5em;
    }
}

.itemDetail {

    .image {
        height: 500px;
        @include background-size(cover);
    }
}

#cart {

    @include border-top-left-radius(5px);
    @include border-bottom-left-radius(5px);
//    border-radius: 0 0 0 5px;
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 40%;
    height: 50px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    padding: 1em;
    @include transition(all 0.15s linear);
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));

    p {
        color: #000;
    }

    &:hover {
        @include box-shadow(0px 8px 17px rgba(0, 0, 0, 0.2));

        background-color: #F5F5F5;
    }
}