/* line 5, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, app.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, app.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 13, app.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* line 18, app.scss */
p {
  line-height: 1.2em;
}

/* line 22, app.scss */
b {
  font-weight: bold;
}

/* line 26, app.scss */
h1, h2, h3, h4 {
  font-weight: 300;
}

/* line 30, app.scss */
input[type=number] {
  -moz-appearance: textfield;
}
/* line 32, app.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 39, app.scss */
h1 {
  font-size: 2.2em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

/* line 45, app.scss */
h2 {
  font-size: 2em;
  line-height: 1.1em;
  margin-bottom: 0.4em;
}

/* line 51, app.scss */
h3 {
  font-size: 1.8em;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}

/* line 57, app.scss */
h4 {
  font-size: 1.6em;
  line-height: 1.1em;
  margin-bottom: 0.2em;
}

/* line 63, app.scss */
h5 {
  font-size: 1.4em;
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

/* line 69, app.scss */
.container-fluid {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 74, app.scss */
#bread {
  background-image: url("http://image.noelshack.com/fichiers/2015/10/1425572018-optimized-couch-flat-home-2459-compressor.jpg");
  background-size: cover;
  background-position: center center;
}

@media (min-width: 0px) {
  /* line 80, app.scss */
  #home {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  /* line 80, app.scss */
  #home {
    padding-top: 30px;
  }
}
/* line 93, app.scss */
#home h2 {
  margin-bottom: 1em;
}
/* line 97, app.scss */
#home input[type=button], #home input[type=submit] {
  margin: 1em 0.5em;
  padding: 1em 2em;
  background-color: transparent;
  border: 1px solid #2C3E50;
  border-radius: 5px;
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 108, app.scss */
#home input[type=button]:hover, #home input[type=submit]:hover {
  cursor: pointer;
  background-color: rgba(44, 62, 80, 0.2);
}
/* line 114, app.scss */
#home input[type=text], #home input[type=password] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2C3E50;
  margin-bottom: 0.5em;
  width: 100%;
}

/* line 123, app.scss */
input[type=text], input[type=password], input[type=number] {
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
/* line 132, app.scss */
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  outline: 0;
}

/* line 137, app.scss */
.navigation {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* line 141, app.scss */
.navigation hr {
  margin: 0;
  background-color: #20E5BE;
}
/* line 147, app.scss */
.navigation li a {
  color: #000;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
}
/* line 149, app.scss */
.navigation li a.active {
  background-color: #CAD4DE;
}
/* line 153, app.scss */
.navigation li a:hover {
  background-color: #E0E6EC;
}
/* line 157, app.scss */
.navigation li a:active {
  background-color: #8A98A6;
  color: #000;
}

/* line 168, app.scss */
.error {
  border-color: red;
}

/* line 172, app.scss */
#main, #sidebar {
  float: none;
  vertical-align: top;
}

/* line 178, app.scss */
#sidebar {
  display: none;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
@media (min-width: 768px) {
  /* line 178, app.scss */
  #sidebar {
    background-color: #FFFFFF;
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0;
    display: table-cell;
  }
}

/* line 191, app.scss */
#main {
  background-color: #FFFFFF;
  padding: 1em;
  height: 100%;
  display: table;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 191, app.scss */
  #main {
    width: calc(100% - 200px);
    float: right;
  }
}
/* line 203, app.scss */
#main input[type=button], #main input[type=submit] {
  outline: none;
  font-weight: 500;
  margin: 1em 1em;
  padding: 0.7em 2.5em;
  background-color: #3f51b5;
  color: #ffffff;
  border: 1px solid #2C3E50;
  font-size: 1em;
  text-transform: uppercase;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 216, app.scss */
#main input[type=button]:hover, #main input[type=submit]:hover {
  -moz-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

/* line 222, app.scss */
a {
  text-decoration: none;
  color: #34AADC;
}
/* line 226, app.scss */
a:hover {
  color: #007AFF;
}

/* line 234, app.scss */
table thead tr th {
  font-weight: 300;
  padding: 1.2rem 0.2rem 0.5em 0.2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* line 235, app.scss */
table thead tr th:first-child {
  padding-left: 0.5rem;
}
/* line 248, app.scss */
table tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0.035);
}
/* line 253, app.scss */
table tbody tr td {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  padding: 1.0rem 0.2rem;
  font-weight: 300;
  border: none;
}
/* line 254, app.scss */
table tbody tr td:first-child {
  padding-left: 0.5rem;
}
/* line 257, app.scss */
table tbody tr td:last-child {
  padding-right: 0.5rem;
}

/* line 269, app.scss */
.card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  padding: 1em;
  display: inline-block;
  background-color: #fff;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 279, app.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 284, app.scss */
.fa-star {
  color: #FF9800;
}

/* line 288, app.scss */
.comment {
  padding-bottom: 1.5em;
}
/* line 289, app.scss */
.comment .name {
  font-weight: bold;
  color: #03A9F4;
}
/* line 294, app.scss */
.comment .date {
  color: #9E9E9E;
}

/* line 302, app.scss */
.myComment input {
  margin-bottom: 0.5em;
}
/* line 306, app.scss */
.myComment select {
  padding: 0.5em;
  margin-bottom: 0.5em;
}
/* line 311, app.scss */
.myComment textarea {
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

/* line 319, app.scss */
input[type=button], input[type=submit] {
  outline: none;
  font-weight: 500;
  padding: 0.7em 2.5em;
  color: #ffffff;
  background-color: #3F51B5;
  border: 0px solid #2C3E50;
  font-size: 1em;
  text-transform: uppercase;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 331, app.scss */
input[type=button]:active, input[type=submit]:active {
  background-color: #303F9F;
}
/* line 336, app.scss */
input[type=button]:hover, input[type=submit]:hover {
  -moz-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}
/* line 340, app.scss */
input[type=button]:disabled, input[type=submit]:disabled {
  background-color: #9E9E9E;
}

/* line 345, app.scss */
#bread {
  background-color: #00065c;
}
/* line 347, app.scss */
#bread h2 {
  padding-top: 150px;
  font-size: 5em;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

/* line 355, app.scss */
.categories, .items {
  height: 300px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 361, app.scss */
.categories .layer, .items .layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 371, app.scss */
.categories .layer:hover, .items .layer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 376, app.scss */
.categories .see, .items .see {
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 381, app.scss */
.categories:hover .see, .items:hover .see {
  opacity: 1;
}

/* line 389, app.scss */
.categories .name {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2em;
}
/* line 400, app.scss */
.categories .see {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
}

/* line 416, app.scss */
.items .title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2em;
}
/* line 427, app.scss */
.items .price {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2em;
}
/* line 438, app.scss */
.items .see {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.5em;
}

/* line 454, app.scss */
#search select {
  padding: 0.5em 0.5em 0.4em 0.5em;
  background-color: #fff;
  margin-bottom: 0.5em;
}

/* line 463, app.scss */
.itemDetail .image {
  height: 500px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 469, app.scss */
#cart {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 9999;
  position: fixed;
  right: 0;
  top: 40%;
  height: 50px;
  width: 150px;
  background-color: #fff;
  text-align: center;
  padding: 1em;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 486, app.scss */
#cart p {
  color: #000;
}
/* line 490, app.scss */
#cart:hover {
  -moz-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5;
}
