<section>

    <h3 ng-bind="title"></h3>

    <form method="POST" ng-submit="submit()">
    <input ng-model="color.name" placeholder="Nom"> <br/>
    <input ng-model="color.hex" placeholder="Hexadecimal"><span style="height: 100px; width: 100px; display: inline-block" ng-style="{'background-color':'#'+color.hex}">&nbsp;</span><br/>

    <input type="submit" value="Sauvegarder"/>
    </form>
</section>
