<section>
    <h3>Couleurs</h3>

    <a href="{{addColor}}" ng-href="{{addColor}}">Ajouter une couleur</a><br/>

    <input type="text" ng-model="search.name" placeholder="Filtre couleurs"/>

    <div class="row">
        <div class="col-xs-2" ng-repeat="color in colors | filter:search">
            <div class="card">
                <h1 ng-bind="color.name"></h1>
                <p ng-bind="color.hex"></p>
                <a href="" ng-click="colorEdit(color.id)"><i class="fa fa-pencil"></i></a>
                <a href="" ng-click="colorDelete(color.id)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

</section>
