
<div id="bread" style="height: 500px;">
    <h2 style="text-align: center;">CrazyCharlieMarket</h2>
</div>
<a href="{{cart}}" ng-href="{{cart}}">
    <div id="cart">
        <p>Panier</p>
    </div>
</a>

<section>
    <div id="home">
        <div class="col-xs-12 text-center" style="margin-bottom: 30px;">
            <input type="button" value="Connexion" ng-click="login()"/>
            <input type="button" value="Inscription" ng-click="register()"/>
        </div>
        <div class="col-xs-12 text-center" style="margin-bottom: 2em;">
            <input type="button" value="Tous nos produits" ng-click="products()"/>
        </div>
    </div>

    <div class="col-xs-12 text-center">

        <h2 style="margin-top: 1em;">Nos produits phares</h2>
        <div class="row">
            <a href="" ng-click="detail(item.id)" ng-repeat="item in selectedItems | limitTo:4 | orderBy:'popularity':true">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 items" ng-style="{'background-image':'url({{item.image}})'}">
                    <div class="layer">
                        <p class="title" ng-bind="item.name"></p>
                        <p class="price">{{item.price}} €</p>
                        <p class="see">Voir</p>
                    </div>
                </div>
            </a>
        </div>

        <h2 style="margin-top: 1em;">Nos produits les plus populaires</h2>
        <div class="row">
            <a href="" ng-click="detail(item.id)" ng-repeat="item in items | limitTo:4 | orderBy:'popularity':true">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 items" ng-style="{'background-image':'url({{item.image}})'}">
                    <div class="layer">
                        <p class="title" ng-bind="item.name"></p>
                        <p class="price">{{item.price}} €</p>
                        <p class="see">Voir</p>
                    </div>
                </div>
            </a>
        </div>


        <h2 style="margin-top: 1em;">Catégories</h2>
        <div class="row">
            <a href="" ng-click="typeList(type.id)" ng-repeat="type in types">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 categories" ng-style="{'background-image':'url({{type.image}})'}">
                    <div class="layer">
                        <p class="name">{{type.name}}</p>
                        <p class="see">Voir</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
