<!doctype html>
<html lang="fr" ng-app="app">
<head>
    <base href="{{ rootPath }}/">
    <meta charset="UTF-8">
    <title>CrazyCharlieMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ rootPath }}/src/Stylesheet/app.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
    <div class="row" ng-view>
    </div>

    <div class="row" style="padding-bottom: 2em;padding-top: 2em;">
        <p style="text-align: center;">2015, Crazy Charlie Market.</p>
    </div>
</div>


<script>
    var rootpath = "{{ rootPath }}";
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.angularjs.org/1.3.13/angular.min.js"></script>
<script type="text/javascript" src="//code.angularjs.org/1.3.13/angular-route.min.js"></script>

<script type="text/javascript" src="{{ rootPath }}/src/Javascript/app.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/CartService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Service/LoginService.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/User/LoginCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/User/RegisterCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/HomeCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Cart/StatusCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Cart/InfoCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Type/ListCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Type/TypeListCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Type/EditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Type/AddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Item/ListCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Item/DetailCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Item/AddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Item/EditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Color/ListCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Color/AddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Color/EditCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Piece/ListCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Piece/AddCtrl.js"></script>
<script type="text/javascript" src="{{ rootPath }}/src/Javascript/Controller/Piece/EditCtrl.js"></script>
</body>
</html>