<section id="home">
    <div class="col-xs-12 text-center">
        <h2 class="text-center">Connexion</h2>
        <p style="margin-bottom: 1em;">Vous n'avez pas de compte ? <a href="" ng-click="register()">Inscrivez-vous</a> dès maintenant !</p>
        <p>{{error}}</p>
        <form ng-submit="login()" method="POST">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.email" placeholder="Email" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="password" ng-model="user.password" placeholder="Mot de passe" required/>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Connexion"/>
            </div>
        </form>
    </div>
</section>