<section id="home">
    <div class="col-xs-12 text-center">
        <h2 class="text-center">Inscription</h2>
        <p style="margin-bottom: 1em;">Vous n'avez déjà un compte ?
            <a href="" ng-click="login()">Connectez-vous</a> dès maintenant !</p>
        <p>{{error}}</p>

        <form ng-submit="register()">
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.firstname" placeholder="Prénom"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.lastname" placeholder="Nom"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.email" placeholder="Email"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.phoneNumber1" placeholder="Numéro de téléphone"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="text" ng-model="user.phoneNumber2" placeholder="Numéro de auxiliaire"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="password" ng-model="user.password" placeholder="Choisissez un mot de passe"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                    <input type="password" placeholder="Répétez votre mot de passe"/>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Inscription"/>
            </div>
        </form>
    </div>
</section>