<section>

    <h3 ng-bind="title"></h3>

    <form method="POST" ng-submit="submit()">
        <input type="text" ng-model="type.name" placeholder="Nom"/><br/>
        <textarea ng-model="type.description"></textarea> <br/>
        <input type="text" ng-model="type.image"> <br/>
        <input type="submit"/>
    </form>

</section>
