
<div id="bread" style="height: 500px;">
    <h2 style="text-align: center;">CrazyCharlieMarket</h2>
</div>

<a href="{{cart}}" ng-href="{{cart}}">
    <div id="cart">
        <p>Panier</p>
    </div>
</a>

<section>
    <a href="home" ng-href="home">Home</a>
    <h2 style="text-align: center; margin-top: 2em;">Produits en stocks</h2>

    <div class="col-xs-12 col-sm-10 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="margin-bottom: 1em;">
        <div class="row" id="search">
            <div class="col-lg-12" style="padding-left: 0; padding-right: 0;">
                <input type="text" ng-model="search.name" placeholder="Nom de l'objet" style="width: 100%;"/>
            </div>
            <div class="col-lg-12" style="text-align: center; margin-top: 0.5em;">
                <div class="row">
                    <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">
                        <select ng-model="search.typeId" style="width: 100%; ">
                            <option value="">Tous types</option>
                            <option ng-repeat="type in types" ng-value="type.id" ng-bind="type.name" ng-selected="type.id == id"></option>
                        </select>
                    </div>
                    <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">
                        <select ng-model="search.pieceId" style="width: 100%; ">
                            <option value="">Toutes pièces</option>
                            <option ng-repeat="piece in pieces" ng-value="piece.id" ng-bind="piece.name"></option>
                        </select>
                    </div>
                    <div class="col-lg-4" style="padding-left: 0; padding-right: 0;">
                        <select ng-model="search.colorId" style="width: 100%; ">
                            <option value="">Toutes couleurs</option>
                            <option ng-repeat="color in colors" ng-value="color.id" ng-bind="color.name"></option>
                        </select>
                    </div>
                </div>
                <p>Trier par prix <a href="" ng-click="orderPrice = false">décroissant</a> / <a href="" ng-click="orderPrice = true">croissant</a></p>

            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <a href="" ng-click="detail(item.id)" ng-repeat="item in items | filter:search | orderBy:'price':orderPrice">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 items" ng-style="{'background-image':'url({{item.image}})'}">
                    <div class="layer">
                        <p class="title" ng-bind="item.name"></p>
                        <p class="price">{{item.price}} €</p>
                        <p class="see">Voir</p>
                    </div>
                </div>
            </a>
        </div>
        <h2 style="text-align: center; margin-top: 2em;">Catégories</h2>
        <div class="row">
            <a href="" ng-click="typeList(type.id)" ng-repeat="type in types">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 categories" ng-style="{'background-image':'url({{type.image}})'}" >
                    <div class="layer">
                        <p class="name">{{type.name}}</p>
                        <p class="see">Voir</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</section>
