<section>
    <h3>Types</h3>

    <a href="{{addColor}}" ng-href="{{addColor}}">Ajouter un type</a><br/>

    <input type="text" ng-model="search.name" placeholder="Filtre types"/>

    <div class="row">
        <div class="col-xs-2" ng-repeat="type in types | filter:search">
            <div class="card">
                <h1 ng-bind="type.name"></h1>
                <p ng-bind="type.description"></p>
                <a href="" ng-click="typeEdit(type.id)"><i class="fa fa-pencil"></i></a>
                <a href="" ng-click="typeDelete(type.id)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

</section>
