<div id="bread" style="height: 500px;">
    <h2 style="text-align: center;">CrazyCharlieMarket</h2>
</div>

<section>

    <div class="col-xs-12">
        <div class="row">
            <h3 style="text-align: center; margin-top: 2em;">Résumé : </h3>
            <div class="col-lg-6 col-lg-offset-3">
                <table style="width: 100%; margin-bottom: 4em;">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price * item.quantity | number:2 }}</td>
                    </tr>
                    <tr>
                        <td>Prix total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{totalPrice | number:2}} €</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div class="row">

            <h3 style="text-align: center;">Vos informations : </h3>
            <div class="col-lg-6 col-lg-offset-3">
                <form method="POST" style="text-align: center;" ng-submit="buy()">
                    <input style="margin-top: 0.5em;" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" type="text" placeholder="Nom" required/>
                    <input style="margin-top: 0.5em;" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" type="text" placeholder="XXXX XXXX XXXX XXXX XXXX" required/>
                    <input style="margin-top: 0.5em;" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" type="text" placeholder="XXX" required/>
                    <input style="margin-top: 0.5em;" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" type="number" min="1" max="12" placeholder="Mois (MM)" required/>
                    <input style="margin-top: 0.5em;" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2" type="number" min="15" max="50" placeholder="Année (AA)" required/>

                    <div style="text-align: center;" class="col-xs-12"><input style="margin-top: 2em;" type="submit" value="Acheter"/></div>
                </form>
            </div>
        </div>
    </div>




</section>
