<div id="bread" style="height: 500px;">
    <h2 style="text-align: center;">CrazyCharlieMarket</h2>
</div>

<section>

    <div class="col-xs-12">
        <div class="row">

            <h3 style="text-align: center; margin-top: 2em;">Panier</h3>

            <div class="col-lg-6 col-lg-offset-3">
                <table style="width: 100%; margin-bottom: 4em;">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.price}}</td>
                        <td><a href="" ng-click="minus(item.id)"><i class="fa fa-minus"></i></a> {{item.quantity}} <a href="" ng-click="plus(item.id)"><i class="fa fa-plus"></i></a></td>
                        <td>{{item.price * item.quantity | number:2 }}</td>
                        <td><a href="" ng-click="deleteProduct(item.id)"><i class="fa fa-times"></i></a></td>
                    </tr>
                    <tr>
                        <td>Prix total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{totalPrice | number:2}} €</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div style="text-align: center;"><input type="button" value="Acheter maintenant !" ng-click="buy()" ng-disabled="submitButton"/></div>

</section>
