<section>

    <h3 ng-bind="title"></h3>

    <form method="POST" ng-submit="submit()">
    <input ng-model="piece.name" placeholder="Nom"> <br/>
    <input ng-model="piece.description" placeholder="Description"><br/>

    <input type="submit" value="Sauvegarder"/>
    </form>
</section>
