<section>
    <h3>Pièces</h3>

    <a href="{{addPiece}}" ng-href="{{addPiece}}">Ajouter une pièce</a><br/>

    <input type="text" ng-model="search.name" placeholder="Filtre pièces"/>

    <div class="row">
        <div class="col-xs-2" ng-repeat="piece in pieces | filter:search">
            <div class="card">
                <h1 ng-bind="piece.name"></h1>
                <p ng-bind="piece.description"></p>
                <a href="" ng-click="pieceEdit(piece.id)"><i class="fa fa-pencil"></i></a>
                <a href="" ng-click="pieceDelete(piece.id)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

</section>
