
<div id="bread" style="height: 500px;">
    <h2 style="text-align: center;">CrazyCharlieMarket</h2>
</div>

<a href="{{cart}}" ng-href="{{cart}}">
    <div id="cart">
        <p>Panier</p>
    </div>
</a>

<section>
    <div class="col-xs-12 col-sm-10 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 itemDetail">

        <div style="margin-top: 1em; margin-bottom: 2em;">
            <a href="{{home}}" ng-href="{{home}}">Retour à l'accueil</a>
        </div>


        <div class="image" ng-style="{'background-image': 'url(' + item.image + ')'}" ></div>

        <h3 ng-bind="item.name" style="margin-top: 1em; margin-bottom: 0.5em;"></h3>

        <h5>Description</h5>
        <p style="color: #9E9E9E;">{{item.description}}</p>

        <h5 style="margin-top: 2em;">Prix : <span style="color: #E91E63;">{{item.price}} €</span></h5>
        <input style="margin-top: 0.5em;" type="button" value="Ajouter au panier" ng-click="addToCart($event)"/>

        <h5 style="margin-top: 2em;">Détails :</h5>

        <p>Type d'objet : {{item.type}}</p>
        <p>Dans la pièce : {{item.piece}}</p>
        <p>En couleur : {{item.color}}</p>
        <p style="margin-top: 1em;">Note moyenne du produit : <i ng-repeat="n in [average] | range" class="fa fa-star"></i><i ng-repeat="n in [average, 4] | range" class="fa fa-star-o"></i></p>
        <br/><br/>


        <p><input type="button" ng-click="plusOne()" ng-disabled="voted" value="+1"/>
        <span style="margin-left: 0.5em;">{{item.popularity}} personnes aiment cet objet</span></p>

         <hr/>
        <h3 ng-hide="commentPosted">Votre commentaire</h3>

        <form method="POST" ng-submit="postComment()" ng-hide="commentPosted" class="myComment">
            <input type="text" placeholder="Nom" ng-model="myComment.name" required/> <br/> Votre note : <select ng-model="myComment.grade" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br/>
            <textarea name="" id="" rows="1" placeholder="Votre avis" ng-model="myComment.comment" style="width: 100%; margin-bottom: 0.5em;" required></textarea>
            <div style="text-align: center;"><input type="submit" value="Commenter"/></div>
        </form>

        <h3 style="margin-top: 2em;">Les commentaires de nos visiteurs</h3>
        <div ng-repeat="comment in comments | orderBy:'createdAt':true" class="comment">
            <p><span class="name">{{comment.name}}</span><span class="date"> - {{comment.createdAt}}</span></p>
            <i ng-repeat="n in [comment.grade] | range" class="fa fa-star"></i><i ng-repeat="n in [comment.grade, 4] | range" class="fa fa-star-o"></i>
            <p ng-bind="comment.comment"></p>
        </div>
    </div>
</section>
