<section>

    <h3 ng-bind="title"></h3>

    <form method="POST" ng-submit="submit()">
        <input type="text" ng-model="item.name" placeholder="Nom"/><br/>
        <input type="text" ng-model="item.image" placeholder="URL"/><br/>
        <input type="number" ng-model="item.popularity" placeholder="popularity"/><br/>
        <input type="text" ng-model="item.price" placeholder="Prix"/><br/>
        <select ng-init="item.typeId = item.typeId || items[0]" ng-model="item.typeId">
            <option ng-repeat="type in types" ng-value="type.id" ng-bind="type.name"></option>
        </select><br/>
        <select ng-model="item.colorId">
            <option ng-repeat="color in colors" ng-value="color.id" ng-bind="color.name"></option>
        </select><br/>
        <select ng-model="item.pieceId">
            <option ng-repeat="piece in pieces" ng-value="piece.id" ng-bind="piece.name"></option>
        </select><br/>
        <textarea rows="2" ng-model="item.description"></textarea><br/>
        <input type="submit"/>
    </form>

</section>
