<section>
    <h3>Items</h3>

    <a href="{{addItem}}" ng-href="{{additem}}">Ajouter un item</a><br/>

    <input type="text" ng-model="search.name" placeholder="Nom de l'objet"/>

    <div class="row">
        <div class="col-xs-2" ng-repeat="item in items | filter:search">
            <div class="card">
                <h3 ng-bind="item.name"></h3>
                <label><input type="checkbox" ng-model="item.selectedItem" ng-change="selectedItem(item.id)" ng-checked="item.selectedItem == true"/><span> Item phare</span></label> <br/>
                <a href="" ng-click="itemEdit(item.id)"><i class="fa fa-pencil"></i></a>
                <a href="" ng-click="itemDelete(item.id)"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>

</section>
